model_and_optimizer.pth

# GPT-2 Weights
model.pth

# Virtual Environmetn
.venv

# GPT 2 Folder - Too large in size
gpt2/

# Saved classifier model
review_classifier.pth

gpt2-medium355M-sft.pth

models
images

